<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  <%= mytitle %></title>
<link rel="stylesheet" href="mystyle.css">
  </head>
  <body>
    <form  action="/" method="post">
      <label for="title">Article title</label>
      <input type="text" id="title" name="title" required />

      <label for="summary">Article summary</label>
      <input type="text" id="summary" name="summary" required />

      <label for="body">Article body</label>
      <textarea id="body" name="body" required></textarea><br />

      <button class="create">Create</button>
    </form>

     <%= arr %>

     <form action="/" method="get">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required placeholder="<%= arr[3].title %>" />
    
      <label for="summary">Summary</label>
      <input type="text" id="summary" name="summary" required placeholder="<%= arr[4].title %>" />
    
      <label for="body">Body</label>
      <textarea id="body" name="body" required><%= arr.at(-1).title %></textarea><br />
    </form>
    
        
  </body>
</html>
